body {
	background-color: rgba(0, 0, 0, 0.05);
	max-width: 1310px;
	margin: 0 auto;
}

header,
main {
	background-color: white;
}

main {
	margin-top: 38px;
}

nav {
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: none;
}

.top-links {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-bottom: 0;
	padding-left: 0;
}

.top-links li {
	padding: 15px 0;
}

.top-links a {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 19px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.top-links a:hover {
	color: #f72210;
}

.top-links li:not(:last-child) a {
	border-right: 1px solid lightgray;
}

/**
	TYPOGRAPHY
**/
h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: darkgray;
	margin-top: 15px;
}

/**
	HEADER
**/
header {
	background-color: #f72210;
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

h1 {
	color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}

.header__action-box {
	display: flex;
    align-items: center;
    justify-content: space-around;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

.sign-in {
	color: white;
	padding-right: 5px;
}

.subscribe {
	background-color: white;
	color: #f72210;
	padding: 3px 5px;
}

.menu {
	display: inline-block;
    width: 40px;
    height: 38px;
    padding: 12px;
}

.line {
	height: 2px;
	width: 100%;
	background-color: white;
}

.line:not(:last-child) {
	margin-bottom: 4px;
}

/**
	TOP SECTIONS
**/
.top-story {
	order: -1;
}

/**
	CARD
**/
.card,
.latest-news .card-sm:not(:last-child) {
	border: none;
	padding-bottom: 15px;
	border-bottom: 1px solid lightgray;
}

.header-link {
	margin-bottom: 35px;
}

.header-link a {
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.header-link a:hover {
	color: #f72210;
}

.img-box {
	position: relative;
}

.card-img-overlay {
	top: unset;
	right: unset;
	bottom: 0;
	display: inline-block;
	padding: 7px 15px;
	background-color: whitesmoke;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}

.card-img-overlay a {
	color: #f72210;
	text-decoration: none;
	position: relative;
	top: -3px;
	left: 3px;
	font-size: 18px;
}

.sponsor .card-img-overlay a {
	color: unset;
}

.card-title {
	margin-top: .5rem;
	font-size: 19px;
	font-weight: bold;
}

.card-title a {
	color: black;
	text-decoration-color: #f72210;
}

.card-title.header-link {
	margin-bottom: 5px;
}

.card-text {
	font-size: 15px;
	opacity: .97;
}

.card.survey .card-img-overlay {
	background-color: white;
}

.card.sponsor {
	border-bottom: none;
}

.card.sponsor .card-body {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.card.sponsor .card-img-overlay {
	color: steelblue;
}

.card.opinion {
	margin-bottom: 0;
}

.card.opinion .card-img {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.card.opinion .card-author {
	font-weight: bold;
	color: gray;
	font-size: 13px;
}

.card-author .name {
	color: gray;
	text-decoration: none;
}

.card-author .name:hover {
	color: #f72210;
}

.more-stories .card-sm {
	display: block;
}

.more-stories .card-img {
	float: left;
}

.card-sm {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid lightgray;
	border-bottom: none;
}

.card-sm::after {
	content: "";
	clear: both;
	display: table;
}

.card-sm .card-img {
	width: 180px;
	height: 120px;
	margin-right: 15px;
}

.card-sm .card-title {
	margin-top: 0;
	font-size: 15px;
}

/**
	LATEST NEWS
**/
.latest-news {
	margin-bottom: 20px;
}

.latest-news .card {
	display: flex;
	flex-direction: row;
}

/**
	NEWSLETTER
**/
.newsletter {
	width: 300px;
	margin: 30px auto 10px auto;
	padding: 15px;
	border: 1px solid lightgray;
	background-color: whitesmoke;
}

.newsletter__header {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.newsletter__n {
	position: relative;
	top: 3px;
	display: inline-block;
	color: white;
	background-color: #f72210;
	font-weight: bold;
	height: 35px;
	padding: 8px 10px;
	margin-right: 10px;
}

.newsletter__heading {
	text-transform: uppercase;
	font-size: 20px;
	color: #333;
	line-height: 20px;
	font-weight: bold;
}

.newsletter__button {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #333;
	padding: 7px 10px;
	margin-bottom: 10px;
	border: none;
}

.newsletter__text {
	font-style: 13px;
	color: #333;
}

/**
	ISSUE
**/
.in-the-mag__first-line {
	align-items: flex-end;
	margin-bottom: 15px;
}

.issue__footer {
	background-color: whitesmoke;
}

.issue__footer:hover {
	background-color: lightgray;
	cursor: pointer;
}

.issue__footer--text {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.issue__footer--text a {
	display: inline-block;
	padding: 5px 0;
	color: black;
	text-decoration: none;
}

/**
	IN THE MAGAZINE SECTION
**/
.in-the-mag {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.bottom-links__header {
	text-transform: uppercase;
	padding: 7px;
	margin: 0 15px 15px 15px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

/**
	EDITOR'S PICK SECTION
**/
.editors .bottom-links__header {
	margin-left: 0;
	margin-right: 0;
}

.no-border {
	border-bottom: none;
}

.in-the-mag .card,
.editors .card {
	border-bottom: none;
}

.in-the-mag .card {
	padding: 0;
}

.card-mag-links {
	margin-top: 15px;
}

.type,
.category {
	display: inline-block;
	padding: 2px 5px;
	font-weight: bold;
}

.type:hover,
.category:hover {
	text-decoration: none;
}

.card-mag-links .type {
	color: white;
	background-color: #f72210;
}

.category {
	color: #f72210;
	background-color: white;
}

/**
	FEATURED SLIDESHOWS SECTION
**/
.card-img-overlay__count {
	background: url(https://www.newsweek.com/g00/3_c-8yyy.pgyuyggm.eqo_/c-8OQTGRJGWU46x24jvvrux3ax2fx2fyyy.pgyuyggm.eqox2fukvgux2fyyy.pgyuyggm.eqox2fvjgogux2fpgyuyggmx2fkocigux2fkeqp-unkfgujqyu-py.rpix3fk32e.octmx3dpqvJVON_$/$/$/$/$/$/$);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	padding: 27px;
}

.slideshows .card {
	border-bottom: none;
}

/**
	CATEGORIES LINKS SECTION
**/
.category-links__header {
	padding-top: 20px;
	border-top: 1px solid lightgray;
}

.category-links__header a {
	color: #f72210;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.category-links .card {
	border-bottom: none;
}

.category-links .card-sm:first-child {
	border-top: none;
	padding-top: 0;
}

.small-links .card-sm {
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.category-links .card-sm:not(:first-child) {
	padding-top: 10px;
}

.category-links .card-img {
	border-radius: 0;
}

.small-links .card-img {
	width: 185px;
	height: 125px;
}

/**
	BOTTOM CONTENT (Subscription, Sponsor and Most Read)
**/
.bot-content-box {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.bot-content-box__header {
	color: #f72210;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

/**
	SUBSCRIPTION SECTION
**/
.subscribe-container,
.bot-content-box .sponsor {
	padding-left: 0;
	padding-right: 0;
}

.subscribe-box {
	display: flex;
	flex-direction: column;
	background-color: #f4f5f6;
	margin-bottom: 40px;
}

.subscribe-box .card-sm:first-child {
	border-top: none;
}

.subscribe-box .card-sm {
	background-color: #f4f5f6;
	display: flex;
	flex-direction: row;
}

.subscribe-box__button-box {
	text-align: center;	
	margin: 10px 0;
}

.subscribe-box .card-img {
	margin-right: 35px;
	width: 110px;
	height: 140px;
}

.subscribe-box .card-title {
	font-size: 20px;
}

.subscribe-box__button-box a {
	display: inline-block;
	background-color: #f72210;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	padding: 5px 10px;
}

.card__list--pros {
	list-style-image: url(checkmark.png);
	font-size: 13px;
}

/**
	SPONSPOR SECTION
**/
.bot-content-box .sponsor {
	margin-top: 15px;
	height: 0%;
}

.bot-content-box .sponsor .card-body {
	background-color: #f8f8f8;
}

.bot-content-box .sponsor .card-img-overlay {
	top: -35px;
	bottom: unset;
	background-color: white;
	color: #1fb8fc;
	padding-left: 0;
	font-size: 16px;
}

.bot-content-box .sponsor .card-img-overlay a {
	color: #1fb8fc;
}

/**
	MOST READ SECTION
**/
.most-read__header a {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}

.most-read .card-img {
	border-radius: 0;
	width: 90px;
	height: 65px;
}

/**
	FOOTER SECTION
**/
footer {
	background-color: white;
	border-top: 1px solid lightgray;
}

.logo-box,
.footer-box__top {
	display: flex;
	flex-direction: column;
}

.footer-box__top {
	padding: 20px 0 10px 0;
	border-bottom: 1px solid lightgray;
}

.logo {
	height: 62px;
	font-size: 50px;
	font-weight: bold;
	color: #f72210;
}

.copyright {
	font-size: 13px;
	color: gray;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.social-media-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.social-media-links li:not(:last-child) {
	padding-right: 15px;
}

.social-media-links i {
	color: gray;
	font-size: 23px;
}

.footer-box__bot {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}

.footer-box__bot ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	height: 0%;
}

.footer-box__bot ul:first-child {
	margin-bottom: 0;
}

.editions {
	display: flex;
	flex-direction: row;
}

.editions p {
	margin-right: 15px;
	font-weight: bold;
	color: #555;
}

.footer-box__bot li:not(:last-child) {
	padding-right: 7px;
}

.footer-box__bot a {
	color: #555;
	text-decoration: none;
	font-size: 15px;
	line-height: 28px;
	padding-right: 7px;
}

.footer-box__bot a:hover {
	color: black;
}

/**
	HELPER CLASSES
**/
.hidden {
	display: none;
}

@media only screen and (min-width: 768px) {
	.top-story {
		order: 0;
	}

	.sponsor-resp {
		width: 330px;
		margin: 0 auto;
	}

	.sponsor-resp .card-title {
		width: 60%;
	}

	.latest-news .card-img {
		width: 100px;
		height: 70px;
		border-radius: 0;
	}

	.issue {
		width: 25%;
		padding-right: 15px;
		margin-top: 85px	;
	}

	.in-the-mag {
		flex-direction: row;
	}

	.in-the-mag .card-img {
		height: 20vw;
	}

	.in-the-mag .card {
		padding: 0 15px;
	}

	.mags .bottom-links__header {
		border-bottom: 1px solid lightgray;
	}

	.small-links .card-img {
		width: 105px;
		height: 70px;
	}

	.subscribe-box {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.subscribe-box .card-sm:nth-child(2) {
		border-top: none;
	}

	.subscribe-box .card-img {
		width: 80px;
		height: 120px;
	}

	.card__list--pros {
		font-size: 15px;
	}

	.logo-box,
	.footer-box__top {
		flex-direction: row;
		align-items: flex-end;
	}

	.copyright {
		padding-bottom: 0;
	}

	.footer-box__top {
		justify-content: space-between;
	}
}

@media only screen and (min-width: 992px) {
	nav {
		display: block;
	}

	.sponsor-resp,
	.newsletter {
		width: 100%;
	}

	.bot-content-box {
		flex-direction: row;
	}

	.subscribe-container,
	.bot-content-box .sponsor
	 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.subscribe-box .card-sm:nth-child(2) {
		border-top: 1px solid lightgray;
	}

	.subscribe-box .card-img {
		float: unset;
	}

	.footer-box__top {
		margin-bottom: 10px;
	}

	.footer-box__bot {
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-box__bot ul:first-child {
		width: 50%;
	}

	.footer-box__bot .editions {
		width: 30%;
	}

	.footer-box__bot a {
		line-height: 20px;
	}

	.footer-box__bot li:not(:last-child) a {
		border-right: 1px solid lightgray;
	}
}